@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  .animate-fadein {
    animation: fadein 0.7s ease forwards;
  }
}